@mixin grid {
  grid-template-areas:
    "bookOne bookTwo bookThree" "bookFour bookFive bookSix"
    "bookSeven bookEight bookNine";
  grid-template-columns: 300px, 300px, 300px;
  grid-template-rows: 300px, 300px, 300px, 300px;
}
