.searchEngine {
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchEngine__image {
  max-width: 100%;
  height: 600px;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}
@media only screen and (max-width: 576px) {
  .searchEngine__image {
    max-width: 300px;
    height: 300px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .searchEngine__image {
    fmax-width: 300px;
    height: 300px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .searchEngine__image {
    max-width: 700px;
    height: 600px;
  }
}

.searchEngine__main-text {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 15px;
  border-radius: 10px;
  width: 700px;
}
@media only screen and (max-width: 576px) {
  .searchEngine__main-text {
    width: 200px;
    font-size: 10px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .searchEngine__main-text {
    width: 200px;
    font-size: 10px;
  }
}

#searchEngine__form {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(102, 95, 95);
  border-radius: 5px;
  color: rgb(102, 95, 95);
  font-family: "Gloria Hallelujah", cursive;
  font-size: 20px;
}
@media only screen and (max-width: 576px) {
  #searchEngine__form {
    font-size: 10px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  #searchEngine__form {
    font-size: 10px;
  }
}

button {
  background-color: rgba(163, 165, 167, 0.3764705882);
  border: 1px solid rgb(102, 95, 95);
  border-radius: 10px;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 20px;
  padding: 5px;
  margin: 20px;
  margin-bottom: 80px;
}
@media only screen and (max-width: 576px) {
  button {
    font-size: 10px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  button {
    font-size: 10px;
  }
}
button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #e5e5e5;
}

.searchEngine__book-grid {
  display: grid;
  grid-template-areas: "bookOne bookTwo bookThree" "bookFour bookFive bookSix" "bookSeven bookEight bookNine";
  grid-template-columns: 300px, 300px, 300px;
  grid-template-rows: 300px, 300px, 300px;
}
@media only screen and (max-width: 576px) {
  .searchEngine__book-grid {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .searchEngine__book-grid {
    display: flex;
    flex-direction: column;
  }
}

.searchEngine__book-grid div {
  text-align: center;
  background-color: white;
  margin: 20px;
  padding: 15px;
  border-radius: 5px;
  max-height: 500px;
  max-width: 300px;
  font-family: "Gloria Hallelujah";
  overflow-y: auto;
}
