.searchEngine {
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchEngine__image {
  max-width: 100%;
  height: 600px;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.searchEngine__main-text {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 15px;
  border-radius: 10px;
  width: 700px;
}

.searchEngine__form {
  border: 1px solid rgb(102, 95, 95);
  border-radius: 5px;
  color: rgb(102, 95, 95);
  font-family: "Gloria Hallelujah", cursive;
  font-size: 20px;
}

button {
  background-color: rgba(163, 165, 167, 0.3764705882);
  border: 1px solid rgb(102, 95, 95);
  border-radius: 10px;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 20px;
  padding: 5px;
  margin: 10px;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #e5e5e5;
}

.searchEngine__book-grid {
  display: grid;
  grid-template-areas: "bookOne bookTwo bookThree" "bookFour bookFive bookSix" "bookSeven bookEight bookNine";
  grid-template-columns: 300px, 300px, 300px;
  grid-template-rows: 300px, 300px, 300px;
  margin: 10px;
  padding: 10px;
}

.searchEngine__book-gird__bookOne {
  grid-area: "bookOne";
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.searchEngine__book-gird__bookTwo {
  grid-area: "bookTwo";
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.searchEngine__book-gird__bookThree {
  grid-area: "bookThree";
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.searchEngine__book-gird__bookFour {
  grid-area: "bookFour";
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.searchEngine__book-gird__bookFive {
  grid-area: "bookFive";
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.searchEngine__book-gird__bookSix {
  grid-area: "bookSix";
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.searchEngine__book-gird__bookSeven {
  grid-area: "bookSeven";
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.searchEngine__book-gird__bookEight {
  grid-area: "bookEight";
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.searchEngine__book-gird__bookNine {
  grid-area: "bookNine";
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}
